.blog{
    /* background-color: tomato; */
    background-color: aquamarine;
    border: 7px solid red;
    border-radius: 10px;
     margin:10px; 
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    text-align: center;
}
.blog h2{
    color:red;
}
.vlog{
    background-color: antiquewhite;
    border: 7px solid red;
    border-radius: 10px;
     margin:10px; 
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* text-decoration: c; */
    text-align:justify;
}
img{
 /* height: 400px; */
 width: 100%;
}